<%= form_for employee do |employee| %>

    <div class="field form-group">
      <%= employee.label :firstname, 'First name' %>
      <%= employee.text_field :firstname, :class => "form-control", placeholder: 'Enter first name of employee' %>
    </div>

    <div class="field form-group">
      <%= employee.label :surname, 'Last name' %>
      <%= employee.text_field :surname, :class => "form-control", placeholder: 'Enter last name of employee' %>
    </div>

    <div class="field form-group">
      <%= employee.label :code, 'Code' %>
      <%= employee.text_field :code, :class => "form-control", placeholder: 'Enter employee code' %>
    </div>

    <div class="field form-group">
      <%= employee.label :city, 'City' %>
      <%= employee.text_field :city, :class => "form-control", placeholder: 'Enter city of employee' %>
    </div>

    <div class="field form-group">
      <%= employee.label :country, 'Country' %>
      <%= employee.text_field :country, :class => "form-control", placeholder: 'Enter country of employee' %>
    </div>

    <div class="field form-group">
      <%= employee.label :location, 'Branch' %>
      <%= employee.text_field :location, :class => "form-control", placeholder: 'Enter branch of company' %>
    </div>


    <div class="field form-group">
      <%= employee.label :loclat, 'Location (Latitude)' %>
      <%= employee.text_field :loclat, :class => "form-control", placeholder: 'Enter location (latitude) of employee' %>
    </div>

    <div class="field form-group">
      <%= employee.label :loclon, 'Location (Longitude)' %>
      <%= employee.text_field :loclon, :class => "form-control", placeholder: 'Enter location (longitude) of employee' %>
    </div>

    <div class="field form-group">
      <%= employee.label :costrate, 'Cost Rate' %>
      <%= employee.text_field :costrate, :class => "form-control", placeholder: 'Enter cost rate of employee' %>
    </div>

    <div class="field form-group">
      <%= employee.label :jobprofile_id, 'Job Profile' %>
      <% if context %>
          <%= employee.select :jobprofile_id,
                              options_for_select(Jobprofile.all.map{|j|[j.name, j.id]}), {}, {class:"form-control"} %>
      <% else %>
          <%= employee.select :jobprofile_id,
                              options_for_select(Jobprofile.all.map{|j|[j.name, j.id]},
                                                 Jobprofile.find(jobprofile).id), {}, {class:"form-control"} %>
      <% end %>
    </div>

    <div class="field form-group">
      <%= employee.label :criterion_ids, 'Criteria of employee' %></br>
      <%= employee.select :criterion_ids, Criterion.all.map { |c| [c.name, c.id] },
                          { include_blank: true }, { class: 'chosen-select', multiple: 'true' } %>
    </div>

    <div class="actions form-group">
      <% if context %>
        <%= employee.submit 'Create employee', class: "btn btn-success", data: { disable_with: "Processsing..." }  %>
      <% else %>
        <%= employee.submit 'Update employee', class: "btn btn-success", data: { disable_with: "Processsing..." }  %>
      <% end %>
    </div>

<% end %>

<input type="hidden" id="refresh" value="no">

<script>
  $(".chosen-select").chosen({allow_single_deselect: true, placeholder_text_single: "Select options",
      no_results_text: 'No results matched', search_contains: true, width: '500px'});
  var $input = $('#refresh');
  if ($input.val() == 'yes') {
    location.reload(true);
  }
  else {
    $input.val('yes');
  }
</script>