<h1>Employee Information</h1>

<div class="row">
<div class="col-lg-8">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Code</th>
      <th>Job Profile</th>
      <th>Seniority</th>
      <th>Country</th>
      <th>Location</th>
      <th>Costrate</th>
      <th>City</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= @employee.id %></td>
      <td><%= @employee.code %></td>
      <td><%= @employee.jobprofile.name %></td>
      <% if Criterionvalue.where(employee_id: @employee.id, criterion_id: 3).first.nil? %>
        <td>No seniority</td>
      <% else %>
        <td><%= Criterionvalue.where(employee_id: @employee.id, criterion_id: 3).first.value %></td>
      <% end %>
      <td><%= @employee.country %></td>
      <td><%= @employee.location %></td>
      <td><%= @employee.costrate %></td>
      <td><%= @employee.city %></td>
    </tr>
    </tbody>
  </table>
  </br></br>
  <p><strong>Criteria</strong></p>
  <%= link_to "Edit criteria values", employee_criterionvalues_path(@employee.id), class: "btn btn-default" %>
  </br></br>
  <% max = 0 %>
  <% @employee.criterionvalues.each do |criterionvalue| %>
      <% max = criterionvalue.value.to_i>max ? criterionvalue.value.to_i : max %>
  <% end %>
  <% @employee.criterionvalues.each do |criterionvalue| %>
      <div class="chip" style="height: <%= 30 + ((20 * criterionvalue.value) / max) %>px; line-height: <%= 30 + ((20 * criterionvalue.value) / max) %>px;">
        <%= criterionvalue.criterion.name %>:
        <%= criterionvalue.value %>
      </div>
  <% end %>
</div>
<div class="col-lg-4">
  <strong>Map</strong></br></br>
  <iframe style="width: 100%; height: 400px;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=<%= @employee.loclat %>,<%= @employee.loclon %>&hl=es;z=14&amp;output=embed"></iframe>
</div>
</div>
<div class="hidden">
<p><strong>Workload</strong></p>
  <% @employee.workloads.each do |workload| %>
    workweek: <%= workload.week.workweek %>,
    free hours: <%= workload.free %>,
    offered hours: <%= workload.offered %>,
    sold hours: <%= workload.sold %>,
    absent hours: <%= workload.absent %>
    </br>
  <% end %>
</div>
</br>
<%= link_to "Back to employee overview", employees_path %>
