<h1>ELECTRE Algorithm - Results</h1>
<div class="row">

  <!-- RANKING TABLE -->
  <div class="col-lg-12">
    <h3>Ranking</h3>
    </br>
    <table class="table table-striped" style="width: 100%;">
      <thead>
      <tr>
        <th>Rank</th>
        <th>Alternative ID</th>
        <th>Code</th>
        <% @project.criterionparams.each do |criterionparam| %>
            <% if criterionparam.criterion.name == 'location' %>
                <th>Distance to customer (<%= criterionparam.weight %>)</th>
            <% elsif criterionparam.criterion.name == 'costrate' %>
                <th>Margin (<%= criterionparam.weight %>)</th>
            <% else %>
                <th><%= criterionparam.criterion.name %> - Value (<%= criterionparam.weight %>)</th>
            <% end %>
        <% end %>
      </tr>
      </thead>
      <tbody>
        <% @alternatives.each do |key,value| %>
          <% employee = Employee.find(value['user'].to_i) %>
          <tr>
            <td><%= value['rank'] %></td>
            <td><%= key %></td>
            <td><%= employee.code %></td>
            <% @project.criterionparams.each do |criterionparam| %>
                <% if criterionparam.criterion.name == 'location' %>
                    <% critvalue = number_with_precision((Location.get_distance(employee.loclat,employee.loclon,
                                                                                @project.loclat,@project.loclon)/1000),
                                                         :precision => 1) + ' km' %>
                <% elsif criterionparam.criterion.name == 'costrate' %>
                    <% critvalue = Margin.get_margin(@project.hourlyrate,employee.costrate) %>
                <% else %>
                  <% critvalue = Criterionvalue.where(:employee_id => employee.id,
                                                    :criterion_id => criterionparam.criterion.id).first %>
                  <% critvalue = critvalue ? critvalue.value : 0 %>
                <% end %>
                <td><%= critvalue %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <!-- SENSITIVITY ANALYSIS -->
  <div class="col-lg-12">
    <h3>Sensitivity Analysis</h3>
    </br></br>

    <!-- ALPHA and BETA VALUES -->
    <div class="field form-group" style="width: 100%;">
      <label for="alpha">Distillation Alpha</label>
      <input type="text" name="alpha" value="-0.15" class="form-control" style="width: 220px;">
    </div>
    <div class="field form-group" style="width: 100%;">
      <label for="beta">Distillation Beta</label>
      <input type="text" name="beta" value="0.3" class="form-control" style="width: 220px;">
    </div>

    <!-- CRITERION PARAMETERS -->
    </br></br>
    <% @project.criterionparams.each do |criterionparam| %>
        <div class="col-lg-3" style="margin-left: 0; padding-left: 0;">
          <strong><%= criterionparam.criterion.name.capitalize %>
            (<%= criterionparam.criterion.criterioncontext.name %>)</strong></br></br>
          <label for="weight<%=criterionparam.criterion.id%>">Weight</label>
          <input class="tagsinput" id="weight<%=criterionparam.criterion.id%>" type="text" data-role="tagsinput">
          </br></br>
          <label for="inthresslo<%=criterionparam.criterion.id%>">Indifference threshold slope</label>
          <input class="tagsinput" id="inthresslo<%=criterionparam.criterion.id%>" type="text" data-role="tagsinput">
          </br></br>
          <label for="inthresint<%=criterionparam.criterion.id%>">Indifference threshold intersect</label>
          <input class="tagsinput" id="inthresint<%=criterionparam.criterion.id%>" type="text" data-role="tagsinput">
          </br></br>
          <label for="prefthresslo<%=criterionparam.criterion.id%>">Preference threshold slope</label>
          <input class="tagsinput" id="prefthresslo<%=criterionparam.criterion.id%>" type="text" data-role="tagsinput">
          </br></br>
          <label for="prefthresint<%=criterionparam.criterion.id%>">Preference threshold intersect</label>
          <input class="tagsinput" id="prefthresint<%=criterionparam.criterion.id%>" type="text" data-role="tagsinput">
          </br></br>
          <label for="vetothresslo<%=criterionparam.criterion.id%>">Veto threshold slope</label>
          <input class="tagsinput" id="vetothresslo<%=criterionparam.criterion.id%>" type="text" data-role="tagsinput">
          </br></br>
          <label for="vetothresint<%=criterionparam.criterion.id%>">Veto threshold intersect</label>
          <input class="tagsinput" id="vetothresint<%=criterionparam.criterion.id%>" type="text" data-role="tagsinput">
          </br></br></br></br>
      </div>
    <% end %>


    <div class="col-lg-12" style="margin: 0; padding: 0;">
      <!-- FORM FOR SAVING CONFIGURATION -->
      <form id="saveConfiguration" action="/projects/<%= @project.id %>/save-sensitivity-params"
            onsubmit="return validateConfiguration()">
        <% @project.criterionparams.each do |criterionparam| %>
            <%= hidden_field_tag 'hidden_weight' + criterionparam.criterion.id.to_s %>
            <%= hidden_field_tag 'hidden_inthresslo' + criterionparam.criterion.id.to_s %>
            <%= hidden_field_tag 'hidden_inthresint' + criterionparam.criterion.id.to_s %>
            <%= hidden_field_tag 'hidden_prefthresslo' + criterionparam.criterion.id.to_s %>
            <%= hidden_field_tag 'hidden_prefthresint' + criterionparam.criterion.id.to_s %>
            <%= hidden_field_tag 'hidden_vetothresslo' + criterionparam.criterion.id.to_s %>
            <%= hidden_field_tag 'hidden_vetothresint' + criterionparam.criterion.id.to_s %>
        <% end %>
        <div id="notEqual" class="alert alert-danger">Number of values are not equal for every criterion!</div>
        <div id="noParams" class="alert alert-danger">There are no parameters provided for sensitivity analysis!</div>
        <input type="submit" value="Save this configuration" class="btn btn-default" style="float: left;" >
      </form>

      <!-- RUNNING ANALYSIS -->
      <button id="btn_run_analysis" class="btn btn-default" style="float: left; margin-left: 10px;">Run Analysis</button>

      </br></br>

      <!-- LOADING BAR -->
      <div id="sensitivityanalysis" style="clear: left; display: none;">
        <div class="spinner" style="margin-top: 35px;">
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar"
                 aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:10%">
              10%
            </div>
          </div>
          <p>Running Sensitivity Analysis.. This could take a while..</p>
        </div>
        <div id="sensitivityresults"></div>
      </div>
    </div>

  </div>

</div>



<script>
  // hide error messages
  $("#notEqual").hide();
  $("#noParams").hide();

  // if no sensitivity params saved, set sensitivity input fields with criterionparams
  <% if Sensitivity.where(:project_id => @project.id).length == 0 %>
    <% @project.criterionparams.each do |criterionparam| %>
      $("#weight<%=criterionparam.criterion_id%>").val("<%= criterionparam.weight.nil? ? 'none' : criterionparam.weight %>");
      $("#inthresslo<%=criterionparam.criterion_id%>").val("<%= criterionparam.inthresslo.nil? ? 'none' : criterionparam.inthresslo %>");
      $("#inthresint<%=criterionparam.criterion_id%>").val("<%= criterionparam.inthresint.nil? ? 'none' : criterionparam.inthresint %>");
      $("#prefthresslo<%=criterionparam.criterion_id%>").val("<%= criterionparam.prefthresslo.nil? ? 'none' : criterionparam.prefthresslo %>");
      $("#prefthresint<%=criterionparam.criterion_id%>").val("<%= criterionparam.prefthresint.nil? ? 'none' : criterionparam.prefthresint %>");
      $("#vetothresslo<%=criterionparam.criterion_id%>").val("<%= criterionparam.vetothresslo.nil? ? 'none' : criterionparam.vetothresslo %>");
      $("#vetothresint<%=criterionparam.criterion_id%>").val("<%= criterionparam.vetothresint.nil? ? 'none' : criterionparam.vetothresint %>");
    <% end %>
  <% end %>

  // fill the sensitivity input fields with values from database
  <% Sensitivity.where(:project_id => @project.id).each do |sensparam| %>
    $("#weight<%=sensparam.criterion_id%>").val(String($("#weight<%=sensparam.criterion_id%>").val()) +
        ", " + '<%= sensparam.weight.nil? ? 'none' : sensparam.weight %>');
    $("#inthresslo<%=sensparam.criterion_id%>").val($("#inthresslo<%=sensparam.criterion_id%>").val() +
      ", " + '<%= sensparam.indslo.nil? ? 'none' : sensparam.indslo %>');
    $("#inthresint<%=sensparam.criterion_id%>").val($("#inthresint<%=sensparam.criterion_id%>").val() +
      ", " + '<%= sensparam.indint.nil? ? 'none' : sensparam.indint %>');
    $("#prefthresslo<%=sensparam.criterion_id%>").val($("#prefthresslo<%=sensparam.criterion_id%>").val() +
      ", " + '<%= sensparam.prefslo.nil? ? 'none' : sensparam.prefslo %>');
    $("#prefthresint<%=sensparam.criterion_id%>").val($("#prefthresint<%=sensparam.criterion_id%>").val() +
      ", " + '<%= sensparam.prefint.nil? ? 'none' : sensparam.prefint %>');
    $("#vetothresslo<%=sensparam.criterion_id%>").val($("#vetothresslo<%=sensparam.criterion_id%>").val() +
      ", " + '<%= sensparam.vetslo.nil? ? 'none' : sensparam.vetslo %>');
    $("#vetothresint<%=sensparam.criterion_id%>").val($("#vetothresint<%=sensparam.criterion_id%>").val() +
      ", " + '<%= sensparam.vetint.nil? ? 'none' : sensparam.vetint %>');
  <% end %>

  // every time a new value is added, move the values to the hidden fields
  moveItemsToHiddenFields();

  // every time a sensitivity analysis parameter is added, transfer values to hidden fields
  $('.tagsinput').on('itemAdded', function(event) {
    moveItemsToHiddenFields();
    var input_field_id = "#" + this.id;
    numberIsEqual = true;
  });

  // bugfix when removing elements with bootstrap tagsinput!! when same value exists multiple times in input field,
  // tagsinput plugin removes all duplicates, not only one
  $('.tagsinput').on('itemRemoved', function(event) {
    var tags_array = [];
    var input_field_id = "#" + this.id;
    tags_array = $(input_field_id).tagsinput('items').toString().split(',');
    $(input_field_id).tagsinput('removeAll');
    tags_array.forEach(function(item, index){
      $(input_field_id).tagsinput('add', item + " ");
    });
    numberIsEqual = true;
  });


  // when clicking on button to run the sensitivity analysis
  $("#btn_run_analysis").click(function(){
    if (validateConfiguration()) {
      var numberIsEqual = true;
      var progress = 0;
      var finishedIterations = 0;
      var numberOfParams = $("#inthresslo<%=@project.criterionparams.first.criterion.id%>").tagsinput('items').toString().split(',').length;
      var inputdata = {};
      var outputdata = {};
      var sensitivityranking = {};
      <% @project.employees.each_with_index do |employee, index| %>
      <% hashkey = 'a' + (index+1).to_s %>
      sensitivityranking['<%= hashkey %>'] = {};
      sensitivityranking['<%= hashkey %>']['user'] = '<%= employee.code %>';
      sensitivityranking['<%= hashkey %>']['score'] = 0;
      <% end %>

      //set progress bar to initial width
      $('.progress-bar').width("10%");
      $('.progress-bar').html("10%");

      //check whether number of params is equal in every input field (compared to first one)
      $("#sensitivityresults").html('');


      <% @project.criterionparams.each do |criterionparam| %>
        // load values from input fields
        inputdata["weight<%=criterionparam.criterion.id%>"] = ($("#weight<%=criterionparam.criterion.id%>"))
            .tagsinput('items').toString().split(',').map(function(item) { return Number(item); });
        inputdata["inthresslo<%=criterionparam.criterion.id%>"] = ($("#inthresslo<%=criterionparam.criterion.id%>"))
            .tagsinput('items').toString().split(',').map(function(item) { return Number(item); });
        inputdata["inthresint<%=criterionparam.criterion.id%>"] = ($("#inthresint<%=criterionparam.criterion.id%>"))
            .tagsinput('items').toString().split(',').map(function(item) { return Number(item); });
        inputdata["prefthresslo<%=criterionparam.criterion.id%>"] = ($("#prefthresslo<%=criterionparam.criterion.id%>"))
            .tagsinput('items').toString().split(',').map(function(item) { return Number(item); });
        inputdata["prefthresint<%=criterionparam.criterion.id%>"] = ($("#prefthresint<%=criterionparam.criterion.id%>"))
            .tagsinput('items').toString().split(',').map(function(item) { return Number(item); });
        inputdata["vetothresslo<%=criterionparam.criterion.id%>"] = ($("#vetothresslo<%=criterionparam.criterion.id%>"))
            .tagsinput('items').toString().split(',').map(function(item) { return Number(item); });
        inputdata["vetothresint<%=criterionparam.criterion.id%>"] = ($("#vetothresint<%=criterionparam.criterion.id%>"))
            .tagsinput('items').toString().split(',').map(function(item) { return Number(item); });
      <% end %>


      $('html, body').animate({ scrollTop: $('#sensitivityanalysis').offset().top }, 'slow');
      $("#notEqual").hide();
      $("#noParams").hide();
      $("#sensitivityanalysis").fadeIn('slow');

      // run the algorithm once for each iteration
      for (i=0;i<numberOfParams;i++){
        // set number of iteration
        inputdata['iteration']=i;
        outputdata['iteration'+i] = [];
        $.ajax(
            {
              type: "POST",
              url: '/projects/<%= @project.id %>/electre-sensitivity',
              data: inputdata,
              dataType: "html",
              success: function(result) {
                finishedIterations++;
                var partialresult = JSON.parse(result);
                // html code for ranking of actual iteration
                var partialranking =
                    '</br>' +
                    '<h4>Iteration ' + finishedIterations + '</h4>' +
                    '<table class="table table-striped table-bordered" cellspacing="0" width="100%">' +
                    '<thead>' +
                    '<tr>' +
                    '<th>Rank</th>' +
                    '<th>Alternative ID</th>' +
                    '<th>Code</th>' +
                    '</tr>' +
                    '</thead>' +
                    '<tbody>';
                Object.keys(partialresult).forEach(function (key) {
                  if (key != 'iteration') {
                    partialranking += '<tr>' +
                        '<td>' + partialresult[key]['rank'] + '</td>' +
                        '<td>' + key + '</td>' +
                        '<td>' + partialresult[key]['user'] + '</td>' +
                        '</tr>'
                  }
                });
                partialranking += '</tbody></table>';
                $("#sensitivityresults").append(partialranking);

                // update progress bar
                progress = Math.floor((finishedIterations/numberOfParams)*100);
                $('.progress-bar').width(progress + "%");
                $('.progress-bar').html(progress + "%");
                outputdata['iteration'+JSON.parse(result)['iteration']] = (JSON.parse(result));
                if (progress==100){
                  $(".spinner").fadeOut('slow');
                  Object.keys(outputdata).forEach(function (key1) {
                    iteration = outputdata[key1];
                    Object.keys(iteration).forEach(function (key2) {
                      if (sensitivityranking[key2] != undefined) {
                        sensitivityranking[key2]['score'] = Number(sensitivityranking[key2]['score']) +
                            Number(iteration[key2]['rank']);
                      }
                    });
                  });

                  var finalranking =
                      '<h4>Final Ranking</h4>' +
                      '<table class="table table-striped table-bordered data_table" cellspacing="0" width="100%">' +
                      '<thead>' +
                      '<tr>' +
                      '<th>Alternative ID</th>' +
                      '<th>Alternative code</th>' +
                      '<th>Score</th>' +
                      '</tr>' +
                      '</thead>' +
                      '<tbody>';

                  Object.keys(sensitivityranking).forEach(function (key) {
                    finalranking += '<tr>' +
                        '<td>' + key + '</td>' +
                        '<td>' + sensitivityranking[key]['user'] + '</td>' +
                        '<td>' + sensitivityranking[key]['score'] + '</td>' +
                        '</tr>'
                  });
                  finalranking += '</tbody></table></br>';
                  $("#sensitivityresults").html(finalranking + $("#sensitivityresults").html());
                  $('.data_table').DataTable({"order": [[ 2, "asc" ]],"info":false,"paging":false});
                }
              }
            }
        );
      }
    }
  });

  // every time a new value is added, move the values to the hidden fields
  function moveItemsToHiddenFields() {
    <% @project.criterionparams.each do |criterionparam| %>
    $("#hidden_weight<%=criterionparam.criterion.id%>").val($("#weight<%=criterionparam.criterion.id%>").val());
    $("#hidden_inthresslo<%=criterionparam.criterion.id%>").val($("#inthresslo<%=criterionparam.criterion.id%>").val());
    $("#hidden_inthresint<%=criterionparam.criterion.id%>").val($("#inthresint<%=criterionparam.criterion.id%>").val());
    $("#hidden_prefthresslo<%=criterionparam.criterion.id%>").val($("#prefthresslo<%=criterionparam.criterion.id%>").val());
    $("#hidden_prefthresint<%=criterionparam.criterion.id%>").val($("#prefthresint<%=criterionparam.criterion.id%>").val());
    $("#hidden_vetothresslo<%=criterionparam.criterion.id%>").val($("#vetothresslo<%=criterionparam.criterion.id%>").val());
    $("#hidden_vetothresint<%=criterionparam.criterion.id%>").val($("#vetothresint<%=criterionparam.criterion.id%>").val());
    <% end %>
  }

  // check whether all sensitivity analysis input fields have the same number of params
  var numberIsEqual = true;
  var numberOfParams = $("#inthresslo<%=@project.criterionparams.first.criterion.id%>")
      .tagsinput('items').toString().split(',').length;
  function validateConfiguration() {
    var numberOfParams = $("#inthresslo<%=@project.criterionparams.first.criterion.id%>").tagsinput('items').toString().split(',').length;
    <% @project.criterionparams.each do |criterionparam| %>
      var lengthWeight = $("#weight<%=criterionparam.criterion.id%>").tagsinput('items').toString().split(',').length;
      var lengthIntslo = $("#inthresslo<%=criterionparam.criterion.id%>").tagsinput('items').toString().split(',').length;
      var lengthIntint = $("#inthresint<%=criterionparam.criterion.id%>").tagsinput('items').toString().split(',').length;
      var lengthPrefslo = $("#prefthresslo<%=criterionparam.criterion.id%>").tagsinput('items').toString().split(',').length;
      var lengthPrefint = $("#prefthresint<%=criterionparam.criterion.id%>").tagsinput('items').toString().split(',').length;
      var lengthVetoslo = $("#vetothresslo<%=criterionparam.criterion.id%>").tagsinput('items').toString().split(',').length;
      var lengthVetoint = $("#vetothresint<%=criterionparam.criterion.id%>").tagsinput('items').toString().split(',').length;
      if (numberOfParams != lengthWeight) {
        console.log("1<%=criterionparam.criterion.id%>");
        numberIsEqual = false;
      }
      if (numberOfParams != lengthIntslo) {
        console.log('2<%=criterionparam.criterion.id%>');
        numberIsEqual = false;
      }
      if (!(numberOfParams == lengthIntint)) {
        console.log("3<%=criterionparam.criterion.id%>");
        numberIsEqual = false;
      }
      if (!(numberOfParams == lengthPrefslo)) {
        console.log("4<%=criterionparam.criterion.id%>");
        numberIsEqual = false;
      }
      if (!(numberOfParams == lengthPrefint)) {
        console.log("5<%=criterionparam.criterion.id%>");
        numberIsEqual = false;
      }
      if (!(numberOfParams == lengthVetoslo)) {
        console.log("6<%=criterionparam.criterion.id%>");
        numberIsEqual = false;
      }
      if (!(numberOfParams == lengthVetoint)) {
        console.log("7<%=criterionparam.criterion.id%>");
        numberIsEqual = false;
      }
    <% end %>

    // check if everywhere same number of inputs for sensitivity analysis
    if (!numberIsEqual) {
      $("#notEqual").show();
    }
    // check whether any parameter is given
    else if (numberOfParams < 1 ) {
      $("#noParams").show();
    }
    else{
      $("#notEqual").hide();
    }
    return numberIsEqual
  }
</script>