<h1>Electre Algorithm - Results</h1>
<table class="table table-striped" style="width: 100%;">
  <thead>
  <tr>
    <th>Rank</th>
    <th>Alternative ID</th>
    <th>Firstname</th>
    <th>Surname</th>
  </tr>
  </thead>
  <tbody>
    <% @alternatives.each do |key,value| %>
      <tr>
        <td><%= value['rank'] %></td>
        <td><%= key %></td>
        <td><%= Employee.find(value['user'].to_i).firstname %></td>
        <td><%= Employee.find(value['user'].to_i).surname %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<style>
  #projsel {
    width: 150px;
  }
</style>
<script>
  $("#projsel").val('<%= params[:project_id] %>');
</script>