<%= form_for [project, criterionparam] do |criterionparam| %>
    <td><%= criterionparamname %></td>
    <td><%= criterionparam.text_field :weight, :class => "form-control criterionparam_fld criterionparam" + criterionparamid.to_s + "_fld", placeholder: 'Enter weight of this criterion' %></td>
    <td style="min-width: 100px;"><%= criterionparam.select :direction, options_for_select(['true','false'], Criterionparam.find(criterionparamid).direction), {}, {class:"form-control criterionparam_fld criterionparam" + criterionparamid.to_s + "_fld"} %></td>
    <td><%= criterionparam.text_field :prefthresslo, :class => "form-control criterionparam_fld criterionparam" + criterionparamid.to_s + "_fld", placeholder: 'Enter preference threshold slope of this criterion' %></td>
    <td><%= criterionparam.text_field :prefthresint, :class => "form-control criterionparam_fld criterionparam" + criterionparamid.to_s + "_fld", placeholder: 'Enter preference threshold intersection of this criterion' %></td>
    <td><%= criterionparam.text_field :inthresslo, :class => "form-control criterionparam_fld criterionparam" + criterionparamid.to_s + "_fld", placeholder: 'Enter indifference threshold slope of this criterion' %></td>
    <td><%= criterionparam.text_field :inthresint, :class => "form-control criterionparam_fld criterionparam" + criterionparamid.to_s + "_fld", placeholder: 'Enter indifference threshold intersection of this criterion' %></td>
    <td><%= criterionparam.text_field :vetothresslo, :class => "form-control criterionparam_fld criterionparam" + criterionparamid.to_s + "_fld", placeholder: 'Enter veto threshold slope of this criterion' %></td>
    <td><%= criterionparam.text_field :vetothresint, :class => "form-control criterionparam_fld criterionparam" + criterionparamid.to_s + "_fld", placeholder: 'Enter veto threshold intersection of this criterion' %></td>
    <td><%= criterionparam.text_field :filterlow, :class => "form-control criterionparam_fld criterionparam" + criterionparamid.to_s + "_fld", placeholder: 'Enter minimal value for this criterion' %></td>
    <td><%= criterionparam.text_field :filterhigh, :class => "form-control criterionparam_fld criterionparam" + criterionparamid.to_s + "_fld", placeholder: 'Enter maximal value of this criterion' %></td>

    <td>
      <a class="btn btn-info criterionparam_edit criterionparam<%=criterionparamid.to_s%>_edit"onclick="editLine(<%=criterionparamid%>);" style="margin-bottom: 5px;">Edit</a>
      <%= criterionparam.submit 'Update parameters of this line', class: "btn btn-success criterionparam_fld criterionparam" + criterionparamid.to_s + "_fld", data: { disable_with: "Processsing..." }  %>
    </td>
<% end %>