<h1>Criterion Parameters of <%= @project.name %></h1>
</br>

<% if @criterionparams.nil? %>
    No criteria params in database.
<% else %>
    <div class="checkbox">
      <label><input id="setParamsAutomatically" type="checkbox" checked="checked">
        Set Parameters automatically based on weight (weight criteria from 1 to 10!)
      </label>
    </div></br>
    <div class="row visible-lg">
      <div class="col-lg-1"><strong>Name</strong></div>
      <div class="col-lg-1"><strong>Weight</strong></div>
      <div class="col-lg-1"><strong>Direction</strong></div>
      <div class="col-lg-1"><strong>Indiff.-threshold slope</strong></div>
      <div class="col-lg-1"><strong>Indiff.-threshold intersection</strong></div>
      <div class="col-lg-1"><strong>Pref.-threshold slope</strong></div>
      <div class="col-lg-1"><strong>Pref.-threshold intersection</strong></div>
      <div class="col-lg-1"><strong>Veto threshold slope</strong></div>
      <div class="col-lg-1"><strong>Veto threshold intersection</strong></div>
      <div class="col-lg-1"><strong>Min. filter value</strong></div>
      <div class="col-lg-1"><strong>Max. filter value</strong></div>
      <div class="col-lg-1"><strong>Actions</strong></div>
    </div>

    <% @criterionparams.each do |criterionparam| %>
        <%= render 'form', :criterionparam => criterionparam, :project => criterionparam.project,
                   :criterionparamname => criterionparam.criterion.name, :criterionparamid => criterionparam.id %>
    <% end %>


<% end %>
</br>
<%= link_to "Back to project", project_path(@project.id) %>

<%= render 'layouts/loading', :message => "Loading criterion parameters..." %>

<input type="hidden" id="refresh" value="no">

<script>
  $(document).ready ( function(){
    // Disable all input fields and add 'edit'-button, except for first line.
    <% @criterionparams.each_with_index do |criterionparam, i| %>
      <% if i != 0 %>
        $("input.criterionparam<%=criterionparam.id %>_fld").attr("disabled", true);
        $("select.criterionparam<%=criterionparam.id %>_fld").attr("disabled", true);
      <% else %>
        $("a.criterionparam<%=criterionparam.id %>_edit").hide();
        $("input.criterionparam<%=criterionparam.id %>_fld").attr("disabled", false);
        $("select.criterionparam<%=criterionparam.id %>_fld").attr("disabled", false);
      <% end %>
    <% end %>

    // In case of using the browser back button! Rails duplicates html-elements when using this button
    // Hence, do reload page (only once!) by usage of a hidden input field!
    $('#loadingModal').modal('hide');
    var $input = $('#refresh');
    if ($input.val() == 'yes') {
      location.reload(true);
      loadingAlgorithm();
      $(".table-responsive").hide();
    }
    else {
      $input.val('yes');
    }
  });


  $('#setParamsAutomatically').change(function(){
    if (this.checked) {
      <% @criterionparams.each_with_index do |criterionparam, i| %>
        $("#weight<%= criterionparam.id %>").attr({"max" : 10, "min" : 1});
      <% end %>
    }
    else {
      <% @criterionparams.each_with_index do |criterionparam, i| %>
      $("#weight<%= criterionparam.id %>").attr({"max" : 100000, "min" : 0});
      <% end %>
    }
  });

  function editLine(id) {
    $("input.criterionparam_fld").attr("disabled", true);
    $("select.criterionparam_fld").attr("disabled", true);
    $("a.criterionparam_edit").show();
    $("a.criterionparam" + id + "_edit").hide();
    $("input.criterionparam" + id + "_fld").attr("disabled", false);
    $("select.criterionparam" + id + "_fld").attr("disabled", false);
  }
  function calculateThresholds(id) {
    if ($("#setParamsAutomatically").is(':checked')) {
      var weight = $("#weight" + id).val();
      var indthresslo = 0;
      var indthresint = Math.round((-weight / 7 + (15 / 7)) * 10) / 10;
      var prefthresslo = 0;
      var prefthresint = Math.round((-weight / 7 + (22 / 7)) * 10) / 10;
      var vetothresslo = 0;
      var vetothresint = Math.round(((Math.pow(weight, 2) / 24) - weight + (25 / 3)) * 10) / 10;

      indthresint = indthresint >= 5 ? 5 : indthresint;
      indthresint = indthresint < 0 ? 0 : indthresint;
      prefthresint = prefthresint >= 5 ? 5 : prefthresint;
      prefthresint = prefthresint < 0 ? 0 : prefthresint;
      vetothresint = vetothresint >= 5 ? '' : vetothresint;
      vetothresint = vetothresint < 0 ? 0 : vetothresint;

      $("#indthresslo" + id).val(indthresslo);
      $("#indthresint" + id).val(indthresint);
      $("#prefthresslo" + id).val(prefthresslo);
      $("#prefthresint" + id).val(prefthresint);
      $("#vetothresslo" + id).val(vetothresslo);
      $("#vetothresint" + id).val(vetothresint);
    }
  }

</script>