<h1>Criteria Params of <%= @project.name %></h1>
</br>

<% if @criterionparams.nil? %>
    No criteria params in database.
<% else %>
    <div class="table-responsive">
      <table id="user_table" class="table" cellspacing="0" cellpadding="0" width="100%" style="border: none;">
        <thead>
          <tr>
            <th>Name</th>
            <th>Weight</th>
            <th>Direction</th>
            <th>Indiff.-threshold slope</th>
            <th>Indiff.-threshold intersection</th>
            <th>Pref.-threshold slope</th>
            <th>Pref.-threshold intersection</th>
            <th>Veto threshold slope</th>
            <th>Veto threshold intersection</th>
            <th>Min. filter value</th>
            <th>Max. filter value</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Name</th>
            <th>Weight</th>
            <th>Direction</th>
            <th>Indiff.-threshold slope</th>
            <th>Indiff.-threshold intersection</th>
            <th>Pref.-threshold slope</th>
            <th>Pref.-threshold intersection</th>
            <th>Veto threshold slope</th>
            <th>Veto threshold intersection</th>
            <th>Min. filter value</th>
            <th>Max. filter value</th>
            <th>Actions</th>
          </tr>
        </tfoot>
        <tbody>
          <% @criterionparams.each do |criterionparam| %>
            <tr>
              <%= render 'form', :criterionparam => criterionparam, :project => criterionparam.project, :criterionparamname => criterionparam.criterion.name, :criterionparamid => criterionparam.id %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
<% end %>

<div class="processing">
  <%= image_tag('spinner.gif') %>
  <p>Loading Parameters...</p>
</div>

<%= link_to "Back to project", project_path(@project.id) %>

<input type="hidden" id="refresh" value="no">

<script>
  $(document).ready ( function(){
    <% @criterionparams.each_with_index do |criterionparam, i| %>
      <% if i != 0 %>
        $("input.criterionparam<%=criterionparam.id %>_fld").attr("disabled", true);
        $("select.criterionparam<%=criterionparam.id %>_fld").attr("disabled", true);
      <% else %>
        $("a.criterionparam<%=criterionparam.id %>_edit").hide();
        $("input.criterionparam<%=criterionparam.id %>_fld").attr("disabled", false);
        $("select.criterionparam<%=criterionparam.id %>_fld").attr("disabled", false);
      <% end %>
    <% end %>

    $(".processing").hide();

    var $input = $('#refresh');
    if ($input.val() == 'yes') {
      location.reload(true);
      $(".processing").show();
      $(".table-responsive").hide();
    }
    else {
      $input.val('yes');
    }
  });
  function editLine(id) {
    $("input.criterionparam_fld").attr("disabled", true);
    $("select.criterionparam_fld").attr("disabled", true);
    $("a.criterionparam_edit").show();
    $("a.criterionparam" + id + "_edit").hide();
    $("input.criterionparam" + id + "_fld").attr("disabled", false);
    $("select.criterionparam" + id + "_fld").attr("disabled", false);
  }

</script>