<%= form_for project do |project| %>

    <div class="field form-group">
      <%= project.label :name, 'Project name' %>
      <%= project.text_field :name, :class => "form-control", placeholder: 'Enter name of the project' %>
    </div>

    <div class="field form-group">
      <%= project.label :loclat, 'Customer location (Latitude)' %>
      <%= project.text_field :loclat, :class => "form-control", placeholder: 'Enter coordinate (latitude) of customer' %>
    </div>

    <div class="field form-group">
      <%= project.label :loclon, 'Customer location (Longitude)' %>
      <%= project.text_field :loclon, :class => "form-control", placeholder: 'Enter coordinate (longitude) of customer' %>
    </div>

    <div class="field form-group">
      <%= project.label :startdate, 'Start date of project' %>
      <%= project.text_field :startdate, :class => "form-control", placeholder: 'Enter start date of project' %>
    </div>

    <div class="field form-group">
      <%= project.label :enddate, 'End date of project' %>
      <%= project.text_field :enddate, :class => "form-control", placeholder: 'Enter end date of project' %>
    </div>

    <div class="field form-group">
      <%= project.label :effort, 'Estimated effort of project (hours)' %>
      <%= project.text_field :effort, :class => "form-control", placeholder: 'Enter estimated effort (hours) of project' %>
    </div>

    <div class="field form-group">
      <%= project.label :criterion_ids, 'Project criteria' %></br>
      <%= project.select :criterion_ids, Criterion.all.map { |c| [c.name + ' (' + c.criterioncontext.name + ')', c.id] }, { include_blank: true }, { class: 'chosen-select', multiple: 'true' } %>
    </div>

    <div class="field form-group">
      <%= project.label :employee_ids, 'Project alternatives' %></br>
      <%= project.select :employee_ids, Employee.all.map { |e| [e.code, e.id] }, { include_blank: true }, { class: 'chosen-select', multiple: 'true' } %>
    </div>

    <div class="actions form-group">
      <% if context %>
        <%= project.submit 'Create project', class: "btn btn-success", data: { disable_with: "Processsing..." }  %>
      <% else %>
        <%= project.submit 'Update project', class: "btn btn-success", data: { disable_with: "Processsing..." }  %>
      <% end %>
    </div>

<% end %>

<input type="hidden" id="refresh" value="no">

<script>
  $(".chosen-select").chosen({allow_single_deselect: true, placeholder_text_single: "Select options", no_results_text: 'No results matched', search_contains: true, width: '500px'});
  var $input = $('#refresh');
  if ($input.val() == 'yes') {
    location.reload(true);
  }
  else {
    $input.val('yes');
  }
</script>