<h1>Project Information</h1>
</br>
<%= link_to "Back to project overview", projects_path %>
</br></br>
<div class="row">
  <div class="col-lg-4">
    <h3>ELECTRE Algorithm</h3>
    <form action="/projects/<%= @project.id %>/electre">
      <div class="field form-group">
        <label for="alpha">Distillation Alpha</label>
        <input type="text" name="alpha" value="-0.15" class="form-control">
      </div>
      <div class="field form-group">
        <label for="beta">Distillation Beta</label>
        <input type="text" name="beta" value="0.3" class="form-control">
      </div>
      <% if @project.employees.empty? %>
        <div class="alert alert-danger field form-group">
          To run the algorithm, filter the employees!
        </div>
      <% else %>
        <input type="submit" value="Run Algorithm" onclick="$('#spinner').show();" class="btn btn-default">
        <span id="spinner" style="display: none;"><%= image_tag('spinner.gif', width: '60') %>Looking for best candidates..</span>
      <% end %>
    </form>

  </div>

  <div class="col-lg-4">
    <h3>Project Parameters</h3>
    </br>
    <%= link_to "Edit project parameters", project_criterionparams_path(@project.id), class: "btn btn-default" %>
    </br></br>
    <% @project.criterionparams.each do |criterionparam| %>
        <strong><%= criterionparam.criterion.name.capitalize %></strong><br>
        Weight: <%= criterionparam.weight %></br>
        Preference threshold slope: <%= criterionparam.prefthresslo %></br>
        Preference threshold intersect: <%= criterionparam.prefthresint %></br>
        Indifference threshold slope: <%= criterionparam.inthresslo %></br>
        Indifference threshold intersect: <%= criterionparam.inthresint %></br>
        Veto threshold slope: <%= criterionparam.vetothresslo %></br>
        Veto threshold intersect: <%= criterionparam.vetothresint %></br></br>
    <% end %>
  </div>

  <div class="col-lg-4">
    <h3>Alternatives</h3>
    </br>
    <a class="btn btn-default" href="/projects/<%= @project.id %>/filter">Filter employees</a></br></br>
    <% @project.employees.each do |employee| %>
        <strong><%= employee.firstname %> <%= employee.surname %></strong></br>
        Distance: <%= Location.get_distance(employee.loclat,employee.loclon,@project.loclat,@project.loclon) %> km<br>
        Margin: <%= Margin.get_margin(@project.hourlyrate,employee.costrate) %> CHF</br></br>
    <% end %>
  </div>

</div>