<%= form_for [employee, criterionvalue] do |criterionvalue| %>
    <div class="row" style="margin-bottom: 10px;">
      <div class="col-xs-3"><%= criterionvaluename %></div>
      <div class="col-xs-3"><%= criterionvaluecontext %></div>
      <div class="col-xs-3"><%= criterionvalue.text_field :value,
                                                          :class => "form-control criterionvalue_fld criterionvalue" + criterionvalueid.to_s + "_fld",
                                                          placeholder: 'Enter value of this criterion' %>
      </div>
      <div class="col-xs-3"><a class="btn btn-info criterionvalue_edit criterionvalue<%=criterionvalueid.to_s%>_edit"
                               onclick="editLine(<%=criterionvalueid%>);">Edit</a>
      <%= criterionvalue.submit 'Update value',
                                class: "btn btn-success criterionvalue_fld criterionvalue" + criterionvalueid.to_s + "_fld",
                                data: { disable_with: "Processsing..." }  %></div>
    </div>
<% end %>