<h1>Criterion Values of <%= @employee.code %></h1>
</br>

<% if @criterionvalues.nil? %>
    No criteria values in database.
<% else %>
    <div class="row">
      <div class="col-xs-3"><strong>Criterion name</strong></div>
      <div class="col-xs-3"><strong>Criterion context</strong></div>
      <div class="col-xs-3"><strong>Value</strong></div>
      <div class="col-xs-3"><strong>Actions</strong></div>
    </div></br>

    <% @criterionvalues.each do |criterionvalue| %>
        <%= render 'form', :criterionvalue => criterionvalue, :employee => criterionvalue.employee,
                   :criterionvaluename => criterionvalue.criterion.name, :criterionvalueid => criterionvalue.id,
                   :criterionvaluecontext => criterionvalue.criterion.criterioncontext.name%>
    <% end %>

<% end %>

<%= link_to "Back to employee", employee_path(@employee.id) %>

<script>

  $(document).ready ( function(){
    <% @criterionvalues.each_with_index do |criterionvalue, i| %>
      <% if i != 0 %>
        $("input.criterionvalue<%=criterionvalue.id %>_fld").attr("disabled", true);
      <% else %>
        $("a.criterionvalue<%=criterionvalue.id %>_edit").hide();
        $("input.criterionvalue<%=criterionvalue.id %>_fld").attr("disabled", false);
      <% end %>
    <% end %>
  });

  function editLine(id) {
    $("input.criterionvalue_fld").attr("disabled", true);
    $("a.criterionvalue_edit").show();
    $("a.criterionvalue" + id + "_edit").hide();
    $("input.criterionvalue" + id + "_fld").attr("disabled", false);
  }

</script>